<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
    <th:block layout:fragment="content">
        <div class="card-content">
            <form class="form-horizontal form-view">
                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">제목</label>
                        <div class="col-sm-10">
                            <p class="form-control" id="title"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="writer" class="col-sm-2 control-label">이름</label>
                        <div class="col-sm-10">
                            <p class="form-control" id="writer"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="content" class="col-sm-2 control-label">내용</label>
                        <div class="col-sm-10">
                            <p class="form-control" id="content"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="createdDate" class="col-sm-2 control-label">등록일</label>
                        <div class="col-sm-10">
                            <p class="form-control" id="createdDate"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="hits" class="col-sm-2 control-label">조회 수</label>
                        <div class="col-sm-10">
                            <p class="form-control" id="hits"></p>
                        </div>
                    </div>
            </form>
        </div>
    </th:block>

    <script th:src="@{/scripts/moment.min.js}"></script>
    <script th:src="@{/scripts/jquery.min.js}"></script>
    <script th:src="@{/scripts/main.js}"></script>
    <script th:src="@{/plugin/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/plugin/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js}"></script>

    <th:block layout:fragment="script">
        <script th:inline="javascript">
           /*<![CDATA[*/

    	window.onload = () => {
     		findBoards();
    	}
        function findBoards() {
            const id = /*[[ ${id} ]]*/;
            $.ajax({
            url: '/api/boardinfo',
            type: "GET",
            data: {"id":id},
            success: function(data) {

            }
            });
        }



        /**
         * 뒤로가기
         */
        function goList() {
        	location.href = '/board/list';
        }

        /**
         * 수정하기
         */
        function goWrite() {
        	location.href = `/board/write?id=[[ ${id} ]]`;
        }

        /**
         * 삭제하기
         */
        function deleteBoard() {

        	const id = /*[[ ${id} ]]*/;

            if ( !confirm(`${id}번 게시글을 삭제할까요?`) ) {
            	return false;
            }

            fetch(`/api/boards/${id}`, {
            	method: 'DELETE',
              	headers: { 'Content-Type': 'application/json' },

            }).then(response => {
            	if (!response.ok) {
               		throw new Error('Request failed...');
              	}
              	alert('삭제되었습니다.');
              	goList();
            }).catch(error => {
            	alert('오류가 발생하였습니다.');
            });
    	}
    /*]]>*/
        </script>
    </th:block>
</html>