<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
    <th:block layout:fragment="content">
        <div class="card-content">
            <form id="form" class="form-horizontal" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="title" class="col-sm-2 control-label">제목</label>
                    <div class="col-sm-10">
                        <input type="text" id="title" class="form-control" placeholder="제목을 입력해주세요."/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="writer" class="col-sm-2 control-label">이름</label>
                    <div class="col-sm-10">
                        <input type="text" id="writer" class="form-control" placeholder="이름을 입력해주세요."/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="content" class="col-sm-2 control-label">내용</label>
                    <div class="col-sm-10">
                        <textarea id="content" class="form-control" placeholder="내용을 입력해주세요."></textarea>
                    </div>
                </div>
                <!--24~33파일업로드-->
                <div class="form-group">
                   <label for="inputFile" class="col-sm-2 col-form-label"><strong>첨부파일</strong></label>
                    <div class="col-sm-10">
                        <div class="custom-file" id="inputFile">
                                <input type="file" name="file" class="custom-file-input" id="customFile" multiple="multiple">
                                <label class="custom-file-label" for="customFile">파일을 선택해주세요</label>
                        </div>
                    </div>
                </div>

                <div class="btn-wrap text-center">
                    <a th:href="@{/board/list}" class="btn btn-default waves-effect waves-light">뒤로가기</a>
                    <button type="button" onclick="save();" class="btn btn-primary waves-effect waves-light">저장하기</button>
                </div>
            </form>
        </div>
    </th:block>

    <th:block layout:fragment="script">
        <script th:inline="javascript">
            /*<![CDATA[*/

		window.onload = () => {
            findBoard();
        }

		/**
		 * 게시글 조회
		 */
		function findBoard() {

		    const id = /*[[ ${id} ]]*/;

		    if ( !id ) {
		    	return false;
		    }

		    fetch(`/api/boards/${id}`).then(response => {
		    	if (!response.ok) {
					throw new Error('Request failed...');
			    }
		    	return response.json();

		   	}).then(json => {
		   		const form = document.getElementById('form');
		   		form.title.value = json.title;
		   		form.content.value = json.content;
		   		form.writer.value = json.writer;

		   	}).catch(error => {
		    	alert('게시글 정보를 찾을 수 없습니다.');
		    	location.href = '/board/list';
		   	});
		}

		/**
         * 유효성 검사
         */
        function isValid() {

          	const form = document.getElementById('form');

        	if (!form.title.value.trim()) {
        		alert('제목을 입력해 주세요.');
        		form.title.value = '';
        		form.title.focus();
        		return false;
        	}

        	if (!form.writer.value.trim()) {
        		alert('작성자를 입력해 주세요.');
        		form.writer.value = '';
        		form.writer.focus();
        		return false;
        	}

        	if (!form.content.value.trim()) {
        		alert('내용을 입력해 주세요.');
        		form.content.value = '';
        		form.content.focus();
        		return false;
        	}

        	return true;
        }

        /**
         * 게시글 등록(생성/수정)
         */
        function save() {
            var form = document.getElementById('form');
            var formData = new FormData(form);
            var inputFiles = $("input[name='file']")
            var files = inputFiles[0].files;
            var title = form.title.value;
            var writer = form.writer.value;
            var content = form.content.value;

            if(files.length != 0) {
                formData.append("title", title);
                formData.append("writer", writer);
                formData.append("content", content);
                for(var i = 0; i<files.length; i++){
                   formData.append("uploadFile", files[i]);
                }
            }else {
                formData.append("title", title);
                formData.append("writer", writer);
                formData.append("content", content);
                }



           $.ajax({
             url : '/api/boards',
             processData : false,
             contentType: false,
             data : formData,
             type : "POST",
             success : function(result) {
                alert("게시글이 등록되었습니다!");
                location.href = '/board/list';
             }
           });






        }



	/*]]>*/
        </script>
    </th:block>
</html>